# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfplan
crash.log
crash.*.log

# Terraform Variablen-Dateien mit sensiblen Werten (falls ihr sowas anlegt)
*.tfvars
*.tfvars.json

# Terraform CLI Konfiguration
.terraformrc
terraform.rc

# Python
.venv/
__pycache__/
*.pyc

# VS Code
.vscode/